.Container{
background-color: beige;
justify-content: center;

}
.ul1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
   
}

.shoppingCart {
    size-adjust: 2x;
    justify-content: right;


}

.li1 {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav{
    display:flex;
    flex-wrap:wrap;
    justify-content:left
}
