.Container{
background-color: beige;
justify-content: center;

}
.ul1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
   
}

.shoppingCart {
    size-adjust: 2x;



}

.li1 {
    display: inline-block;
float:right;
    color: white;
    text-align: right;
    padding: 14px 16px;
}
.nav{
    display:inline-block;
    flex-wrap:wrap;
    width: 100%;
    
}
.li2 {
    display: inline-block;
    float: right;
    color: white;
    text-align: right;
    padding: 14px 16px;
}